
/* estilo e layout Garopaba Host House - Author - Catarino Grosser Ferreira */


* { box-sizing: border-box; margin: 0; padding: 0;}
body { font-family: sans-serif;}

/* Css Único */

#mainIndex { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;
     flex-direction: column;  background-image:url("./imagens/bgIndex.jpg"); background-size: cover; background-position:center;}
#mainMain  {  width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;
    flex-direction: column; background-image:url("./imagens/casca03.jpg");}
#page-A { background-image: url("./imagens/casca01.jpg");  background-position:center;}
#page-B { background-image: url("./imagens/casca02.jpg");  background-position:center;}
#page-C { background-image: linear-gradient(to right,  rgb(0, 68, 255), rgb(255, 208, 0));}
#page-D { background-image: linear-gradient(to right,  rgb(0, 0, 0), rgb(255, 255, 255));}

/* CSS Reútilizavel */

.iconeEntrar { width: 70px;}
.linkEntrar { width: max-content;}
.logo { width: 70px; margin-bottom: 5vh;}
.link { color: rgb(255, 81, 0);}
.botao-A {  width: 80%; display: block;color: ivory;background-image: linear-gradient(to right, rgb(255, 123, 0) , rgb(255, 195, 116));
    border-radius: 10px;text-align: center;padding: 15px 0;margin:auto;margin: 3vh auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);}
.botao-B {  width: 20%; display: flex; align-items:center; justify-content: center; color: ivory;background-image: linear-gradient(to right, rgb(255, 195, 116) , rgb(255, 123, 0));
    border-radius: 10px;text-align: center;padding: 15px 0;margin:auto;margin: 3vh auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);}
.botaoVoltar { border-radius: 10px;display: none;position: fixed;bottom: 10px;right: 10px;width: 10vw; height: 5vh;
     background-image: linear-gradient(to right, rgb(255, 195, 116) , rgb(255, 123, 0));color: gainsboro;}
.oculto-A { height: 0; width: 100%; transition: all 1.3s linear; position: fixed; z-index: 10; top: 0; overflow:scroll;}
.oculto-B { height: 0; width: 100%; transition: all 1.3s linear; position: fixed; z-index: 10; top: 0; overflow:scroll;
    background-image:url("./imagens/casca03.jpg");}
.itemPage { width: 90%; margin:2% auto; padding: 3%;color: gray; background-color: rgba(0, 0, 0, 0.76);}
.itemPageContato { display: flex; flex-wrap: wrap; flex-direction: column;align-items: center;justify-content: center;
     width: 90%; margin:2% auto; padding: 3%;color: gray; background-color: rgba(0, 0, 0, 0.76);}
.fotoItem { width: 50%;}
.fotoItemSubPage { width: 100%;}

/* config. contact*/
.form { width: auto; margin: 30%;}
.iconeBTN{width: 100%;}
#btnContatoWhats{ width: 70px; height: 70px; margin: auto;}
#btnContatoMail{ width: 50px; height: 50px; margin: auto;}
#btnContatoMail:hover{cursor: pointer;}
.form1 { margin-top: 5vh; padding: 3%; background-color: rgb(24, 24, 24);}
input { margin: 3%;}